<div class="header-container" style="padding-left: 2.5rem">
  <div class="logo">
    <span class="username">Bem vindo(a), {{username}}!</span>
  </div>
  <div class="spacer"></div>
  <div class="user-profile">
    <span class="username">{{title}} <span style="color: #f39b00; ">:)</span></span>
    <nav>
      <button mat-button routerLink="/simular">Simular<span class="material-icons">query_stats</span></button>
      <button mat-button routerLink="/historico">Histórico<span class="material-icons">history</span></button>
      <button mat-mini-fab aria-label="Example icon button with a menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </nav>  
  </div>
</div>